.footerContainer {
    margin: 10px;
    padding: 20px;
    /* background-color: #f8f8f8; */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.linkList {
    list-style-type: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.linkList li {
    margin: 5px 0;
}

.linkList li a {
    text-decoration: none;
    color: darkgray;
    transition: color 0.3s ease;
}

.linkList li a:hover {
    color: #B99976;
}