.AboutUsBottomContent {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    background-color: #E5D3B3; 
    padding: 20px;
}

.text {
    flex: 1; 
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    flex: 1;
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
