.FooterNavigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #664229;
}

.FooterNavigation p {
    margin: 0;
    color: #020202;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Anpassa textfärg */
}

.FooterNavigation p:hover {
    color: bisque;
    cursor: pointer;
}

.FooterNavigation div {
    display: flex;
    flex-direction: column;
    /* Säkerställer att elementen inuti div:arna är vertikalt staplade */
}

.FooterNavigation div p {
    margin-bottom: 10px;
    /* Mellanrum mellan stycken i div:arna */
}