/* CSS component */

.FooterContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #664229;
}

.FooterContact p {
    margin: 0;
    text-decoration: none;
    color: white;
}