.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    background-color: #C2AC93;
    width: 50%;
    height: 25px;
    padding: 10px;
    border-radius: 30px;
    border-radius: 2px solid black;
    margin-right: 10px;

}

/* 
.subNavbar {
    display: contents;
} */

.link {
    color: black;
    text-decoration: none;
    font-size: 36px;
    font-family: "Arial", sans-serif;
    padding: 10px;


}

.link:hover {
    text-decoration: underline;

}