/*CSS component */
footer {
    margin-top: 80px;
    text-align: center;
    /* padding: 0px; */
    background-color: DarkSalmon;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* footer p {
    display: flex;
} */

li {
    background-color: bisque;
    list-style-type: none;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerArticle {
    display: flex;
    flex-direction: row;
    height: 100px;
    gap: 50px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}