.header {
    background-color: #B99976;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    /* height: auto;
    overflow: visible; */
    border-bottom: 5px solid black
}